/* Stylesheet */
a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    display: inline;
}

.contact-info{
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    width: 275px;
    padding: 5px 10px;
}